@font-face {
    font-family: 'GroutpixFlowSlabSerif';
    src: url('/fonts/GroutpixFlowSlabSerif-Regular.woff2') format('woff2'),
        url('/fonts/GroutpixFlowSlabSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GroutpixFlowSlabSerif';
    src: url('/fonts/GroutpixFlowSlabSerif-Italic.woff2') format('woff2'),
        url('/fonts/GroutpixFlowSlabSerif-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}