@import url('./header.css');
@import url('./music.css');
@import url('./nav.css');
@import url('./fonts.css');
@import url('./tsiepeButoon.css');

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

body {
  background:
    linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(42, 0, 0, 0.9) 100%),
    radial-gradient(circle, rgba(255, 255, 255, 0.15) 2px, transparent 2.5px),
    url('/images/grunge_texture_bg.jpg');
  background-size: cover, 6px 6px, cover;
  background-blend-mode: normal, overlay, multiply;

  font-family: 'GroutpixFlowSlabSerif', serif;
}


main {
  position: absolute;
  width: 100vw;

  display: grid;
  grid-template-columns: repeat(12, 1fr);


}




#container3D {
  position: fixed;
  inset: 0;
  z-index: 100;
  pointer-events: none;
}